/* *{
    color:green;
} */



/* p{
    color:green;
} */



/* selectors */
/* 
p{
    color:saddlebrown
    
}


#paragraph{
      color:hotpink;
}


.test
{
   color:green;

} */


/* .paragraph{

    color: red;
} */


/* p.intro{

    color:green;
} */


/* p,span{
    color:grey;
} */


/* div p{

    color: red;
}
div~p{

    color:royalblue;
} */

/* div>p{

    color:seagreen;
} */

/* [class]{
    color:sienna;
} */

/* [class=test]{
    color:red;
} */

/* a{
    color:yellow;
} */
 
